<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Frame Sender</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        let socket;
        document.addEventListener("DOMContentLoaded", function() {
            // WebSocket setup
            socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('predictions',function(data){
                console.log(data)
            })

            socket.on('connect', function() {
                console.log('Connected to WebSocket server.');
                startVideoStream();
            });

            socket.on('response_event', function(data) {
                console.log(data);
            });

            socket.on('disconnect', function(reason) {
                console.log('Disconnected:', reason);
            });

            socket.on('reconnect', function(attemptNumber) {
                console.log('Reconnected (Attempt ' + attemptNumber + ')');
            });
        });

        function startVideoStream() {
            const video = document.getElementById('remote');
            navigator.mediaDevices.getDisplayMedia()
                .then(stream => {
                    console.log('Stream:', stream);
                    if (stream){
                        video.srcObject = stream;
                    captureAndSendFrames();
                    }
                   
                })
                .catch(error => {
                    console.error('Error accessing media devices.', error);
                });
        }
        function captureAndSendFrames() {
    const video = document.getElementById('remote');
    const canvas = document.createElement('canvas');
    const context = canvas.getContext('2d');
    const captureInterval = 1000; // Capture frame every 1000ms (1 second)

    video.addEventListener('loadedmetadata', function() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
    });

    setInterval(() => {
        if (video.readyState === video.HAVE_ENOUGH_DATA && video.videoWidth > 0 && video.videoHeight > 0) {
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.toBlob(blob => {
                if (blob) {
                    const reader = new FileReader();
                    reader.onloadend = function() {
                        const base64data = reader.result;
                        socket.emit('send_frame', base64data);
                    };
                    reader.readAsDataURL(blob);
                }
            }, 'image/jpeg');
        }
    }, captureInterval);
}

    </script>
</head>
<body>
    <h1>WebSocket Frame Sender</h1>
    <video id="remote" autoplay></video>
</body>
</html>

